<?xml version="1.0" encoding="utf-8"?>
<settings>
  <description>Somos UNED</description>
  <commentblacklistcount>3</commentblacklistcount>
  <commentsperpage>10</commentsperpage>
  <numberofrecentcomments>10</numberofrecentcomments>
  <theme>Standard</theme>
  <geocodinglongitude>0</geocodinglongitude>
  <enablerating>True</enablerating>
  <themecookiename>theme</themecookiename>
  <trustauthenticatedusers>True</trustauthenticatedusers>
  <moderationtype>Disqus</moderationtype>
  <enablerecaptchaoncontactform>True</enablerecaptchaoncontactform>
  <culture>es</culture>
  <compresswebresource>False</compresswebresource>
  <searchcommentlabeltext>Buscar en comentarios</searchcommentlabeltext>
  <timestamppostlinks>False</timestamppostlinks>
  <emailsubjectprefix>Estudiantes UNED Costa Rica</emailsubjectprefix>
  <enablewebsiteincomments>True</enablewebsiteincomments>
  <selfregistrationinitialrole>estudiante</selfregistrationinitialrole>
  <showdescriptioninpostlistforpostsbytagorcategory>False</showdescriptioninpostlistforpostsbytagorcategory>
  <postsperfeed>3</postsperfeed>
  <useblognameinpagetitles>True</useblognameinpagetitles>
  <enabletrackbacksend>True</enabletrackbacksend>
  <descriptioncharacters>300</descriptioncharacters>
  <blockauthoroncommentdelete>False</blockauthoroncommentdelete>
  <customfrontpage />
  <iscocommentenabled>True</iscocommentenabled>
  <smtpusername>contacto@estudiantesunedcr.net</smtpusername>
  <alternatefeedurl />
  <language>en-US</language>
  <enablecontactattachments>True</enablecontactattachments>
  <showincludecommentsoption>False</showincludecommentsoption>
  <sendmailoncomment>True</sendmailoncomment>
  <createblogonselfregistration>False</createblogonselfregistration>
  <numberofrecentposts>10</numberofrecentposts>
  <enablecommentsmoderation>True</enablecommentsmoderation>
  <commentreportmistakes>False</commentreportmistakes>
  <requiresslmetaweblogapi>False</requiresslmetaweblogapi>
  <enablessl>True</enablessl>
  <allowservertodownloadremotefiles>True</allowservertodownloadremotefiles>
  <israzortheme>False</israzortheme>
  <blogrollvisibleposts>3</blogrollvisibleposts>
  <iscommentsenabled>True</iscommentsenabled>
  <thumbnailserviceapi>http://www.robothumb.com/src/?url={0}</thumbnailserviceapi>
  <descriptioncharactersforpostsbytagorcategory>0</descriptioncharactersforpostsbytagorcategory>
  <displaycommentsonrecentposts>True</displaycommentsonrecentposts>
  <disqusdevmode>True</disqusdevmode>
  <enableenclosures>False</enableenclosures>
  <timezone>0</timezone>
  <email>contacto@estudiantesunedcr.net</email>
  <feedauthor />
  <enablecountryincomments>True</enablecountryincomments>
  <errortext>
    Tenemos problemas breves con nuestro sitio, esperamos pronto estar en linea de nuevo. Gracias por su atención.</errortext>
  <remotefiledownloadtimeout>30000</remotefiledownloadtimeout>
  <enableselfregistration>True</enableselfregistration>
  <securityvalidationkey>ede308e723ae42aab289b04350133355accaa0f0da9743e7a8529a0cbbf5bceee5bcafc4eac741f68d2d63d80e21bf8e</securityvalidationkey>
  <remotemaxfilesize>524288</remotemaxfilesize>
  <enabletrackbackreceive>True</enabletrackbackreceive>
  <enabletagexport>True</enabletagexport>
  <enablecommentsearch>True</enablecommentsearch>
  <contactformmessage>&lt;p&gt;Hola!!&lt;/p&gt;&lt;p&gt;Te responderemos en cuanto se nos sea posible, gracias por contactarnos.&lt;/p&gt;</contactformmessage>
  <postsperpage>10</postsperpage>
  <showlivepreview>True</showlivepreview>
  <showpostnavigation>True</showpostnavigation>
  <errortitle>Ups! Tenemos un error inesperado</errortitle>
  <disqusaddcommentstopages>True</disqusaddcommentstopages>
  <blogrollmaxlength>23</blogrollmaxlength>
  <enableopensearch>True</enableopensearch>
  <syndicationformat>Rss</syndicationformat>
  <commentwhitelistcount>2</commentwhitelistcount>
  <displayratingsonrecentposts>True</displayratingsonrecentposts>
  <dayscommentsareenabled>0</dayscommentsareenabled>
  <enablerelatedposts>True</enablerelatedposts>
  <removeextensionsfromurls>True</removeextensionsfromurls>
  <enablequicknotes>True</enablequicknotes>
  <authorname>My name</authorname>
  <trackingscript />
  <redirecttoremovefileextension>False</redirecttoremovefileextension>
  <numberofreferrerdays>1</numberofreferrerdays>
  <addiptowhitelistfilteronapproval>False</addiptowhitelistfilteronapproval>
  <searchbuttontext>Buscar</searchbuttontext>
  <enableoptimization>False</enableoptimization>
  <avatar>mm</avatar>
  <mobiletheme>Standard</mobiletheme>
  <enablepingbacksend>True</enablepingbacksend>
  <htmlheader />
  <galleryfeedurl>http://dnbe.net/v01/nuget</galleryfeedurl>
  <enablepingbackreceive>True</enablepingbackreceive>
  <showdescriptioninpostlist>True</showdescriptioninpostlist>
  <contacterrormessage>Tenemos problemas técnicos, esperamos estar de nuevo en operación.&lt;div&gt;Si quieres nos podes escribir al facebook o twitter o al correo directo contacto@estudiantesunedcr.net&lt;/div&gt;</contacterrormessage>
  <endorsement>http://www.dotnetblogengine.net/syndication.axd</endorsement>
  <enablepasswordreset>True</enablepasswordreset>
  <smtpserverport>587</smtpserverport>
  <searchdefaulttext>¿Qué necesita?</searchdefaulttext>
  <smtpserver>smtp.office365.com</smtpserver>
  <name>Estudiantes UNED Costa Rica</name>
  <geocodinglatitude>0</geocodinglatitude>
  <handlewwwsubdomain />
  <contactthankmessage>&lt;h1&gt;Muchas gracias!!!&lt;/h1&gt;&lt;p&gt;Su mensaje ha sido enviado.&lt;/p&gt;</contactthankmessage>
  <disquswebsitename>https://estudiantesunedcr.disqus.com</disquswebsitename>
  <addiptoblacklistfilteronrejection>False</addiptoblacklistfilteronrejection>
  <enablereferrertracking>False</enablereferrertracking>
  <enablehttpcompression>False</enablehttpcompression>
  <enableerrorlogging>True</enableerrorlogging>
  <iscommentnestingenabled>True</iscommentnestingenabled>
  <smtppassword>Admin2015@</smtppassword>
  <blogrollupdateminutes>60</blogrollupdateminutes>
</settings>